{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lista de tareas</title>

    <!-- Bootstrap Core CSS -->
    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href='{% static "vendor/metisMenu/metisMenu.min.css" %}' rel="stylesheet">

    <!-- Custom CSS -->
    <link href='{% static "dist/css/sb-admin-2.css" %}' rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='{% static "vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .lista:hover{
            cursor: pointer;
        }
        .tarea_terminada td{
            text-decoration: line-through;
        }
    </style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Lista de tareas</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuración</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'todo_list_app:cerrar_sesion' %}"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li class="active">
                            <a href="{% url 'todo_list_app:inicio' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-list-ol fa-fw"></i> Listas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'todo_list_app:crear_lista' %}">
                                        <i class="fa fa-plus fa-fw"></i>
                                        Nueva Lista
                                    </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% block contenido %}
                    
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Tareas</h1>
                    </div>
                    <div class="col-lg-6">
                        <h3>Listas:</h3>
                        <div class="table-responsive table-bordered">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Tareas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in listas %}
                                    <tr class="lista" data-lista="{{l.pk}}">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ l.nombre }}</td>
                                        <td class="contador_tareas">{{ l.get_terminadas }} de {{ l.get_total_tareas }}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        <br>
                            
                    </div>
                    <div class="col-lg-6" id="contenedor_tareas">
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                {% endblock contenido %}
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src='{% static "vendor/metisMenu/metisMenu.min.js" %}'></script>

    <!-- Custom Theme JavaScript -->
    <script src='{% static "dist/js/sb-admin-2.js" %}'></script>

<script type="text/javascript">
    $.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
</script>

<script type="text/javascript">

    $(".lista").on("click", function(){
        $(".lista").removeClass("info");
        $(this).addClass("info");

        $.get("{% url 'todo_list_app:lista_tareas' %}", {"lista":$(this).attr("data-lista")}, function(respuesta){
            $("#contenedor_tareas").html(respuesta);
        });
    });

    $(document).on("click", ".estado_tarea", function(event){
        checked = $(this).is(":checked");
        tarea = $(this).attr("data-tarea");
        lista = $(this).attr("data-lista");

        if(checked){
            $(".fila_tarea[data-tarea='"+$(this).attr("data-tarea")+"']").addClass("tarea_terminada");
        }else{
            $(".fila_tarea[data-tarea='"+$(this).attr("data-tarea")+"']").removeClass("tarea_terminada");
        }

        $.post("{% url 'todo_list_app:terminar_tarea' %}",{"terminada":checked, "tarea":tarea}, function(respuesta){
            $(".lista[data-lista='"+lista+"']").find(".contador_tareas").text(respuesta);
        });
    });


</script>



</body>

</html>
